/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.app-wrapper {
  height: 100svh;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: start;
  color: var(--my-white);
}